@model System.Collections.Generic.IReadOnlyList<TodoApp.IGetMyTodos_Todos>?

@{
    ViewBag.Title = "Todos";
    Layout = "_Layout";
}

<h2>Todos</h2>

<p>
    @* <a asp-action="Create">Create New</a> *@

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Is Completed
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_completed)
        </td>
          
        <td>
            @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
            @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
            @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
        </td>
    </tr>
}
</tbody>
</table>